.entries-list {
  > * {
    border-bottom: 1px solid #5d5d5d;
  }

  article.entry{
    display: flex;
    flex-direction: row;
    margin: 0;

    .entry-thumbnail{
      display: flex;
      justify-content: center;
      align-items: center;;

      width: 150px;
      height: 150px;
      min-width: 150px;
      min-height: 150px;
      margin: 1rem;
      background-color: #2b2b2b;

      .entry-image{
        width: auto;
        max-width: 150px;
        max-height: 150px;
        margin: auto;
      }
    }

    .entry-content{
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 1rem;
      
      .entry-header{
        margin-top: auto;
      }
    }
  }
}