ul.author-links {
  margin-bottom: 0;
}

.page-author {
  margin-bottom: 0.5rem;
}

.page-sidebar {
  a {
    display: inline-block;
    padding: 0 0.5rem;
    text-decoration: underline dashed #a0a0a0 !important;
    color: #a0a0a0 !important;
  }
}
