pre.highlight,
code.highlighter-rouge {
  color: #df5454 !important;
  background-color: #292927 !important;
  line-height: 1.5rem;
}

code.highlighter-rouge {
  padding: 0.1em 0.4em;
  margin: 0 0.2em;
}
