table {
  width: auto;

  th {
    background-color: #303030;
  }

  th,
  td {
    width: auto;
    min-width: 150px;
    border: 1px solid #404040;
  }
  tr:nth-child(even) {
    background-color: #303030;
  }
}
