.page-sidebar {
  > * {
    border-color: #5d5d5d;
    border-style: solid;
    border-width: 0px 0px 1px 0px; 
    padding: 1rem 0;
  }

  .page-author{
    margin: 0;

    ul.author-links {
      margin-bottom: 0;
    }
  }
  
  .page-categories{
    text-align: left;
    margin: 0;
    padding: 0;
  
    a {
      display: inline-block;
      text-decoration: underline dashed #a0a0a0 !important;
    }
  
    ul{
      list-style-type: "- ";
      text-align: left;
      padding: 1rem;
      margin: 0;
      
      li {
        margin-bottom: 0.25rem;
      }
    }
  }

  @media (max-width: $large) {
    .page-categories{
      display: none;
    }

    .page-categories-header{
      display: none;
    }
  }
}
