red {
  color: #ff0000;
}

green {
  color: #529e72;
}

orange {
  color: rgb(199, 125, 72);
}

gray {
  color: #9b9b9b;
}

p {
  .red {
    color: #ff0000;
  }

  .green {
    color: #529e72;
  }

  .orange {
    color: rgb(199, 125, 72);
  }

  .gray {
    color: #9b9b9b;
  }
}