ul.author-links {
  margin-bottom: 0;
}

.page-author {
  margin-bottom: 0.5rem;
}

.page-sidebar {
  .page-categories{
    margin: 1rem 0;
    text-align: left;
    border-color: #5d5d5d;
    border-style: solid;
    border-width: 1px 0px;
    padding: 0;
  
    a {
      display: inline-block;
      text-decoration: underline dashed #a0a0a0 !important;
    }
  
    ul{
      list-style-type: "- ";
      text-align: left;
      padding: 1rem;
      margin: 0;
      
      li {
        margin-bottom: 0.25rem;
      }
    }
  }

  @media (max-width: $large) {
    .page-categories{
      display: none;
    }
  }
}
