{% if site.data.navigation %}
  <div class="navigation-wrapper">
    <div class="navigation-bar">
      <a href="/">
        <div class="fa fa-home fa-lg"></div>
      </a>
      <a href="#menu-toggle" class="menu-toggle">
        <div class="fa fa-bars fa-lg"></div>
      </a>
    </div>

    <aside id="primary-nav" class="toggle-sidebar">
      <a href="#menu-toggle" class="menu-toggle toggle-sidebar-exit">
        <div class="fa fa-times"></div>
      </a>

      {% include page-sidebar.html %}

    </aside>
  </div><!-- /.navigation-wrapper -->
{% endif %}
