{% if site.data.navigation %}
  <div class="navigation-wrapper">
    <div class="navigation-bar">
      <a href="/">
        <div class="fa fa-home fa-lg"></div>
      </a>
      <a href="#menu-toggle" class="menu-toggle">
        <div class="fa fa-bars fa-lg"></div>
      </a>
    </div>

    <aside id="primary-nav" class="site-nav">
        <!--
          This code will be used when you add hyperlink into menu.
          <ul>
            {%- for link in site.data.navigation -%}
            {%- if link.url contains '://' -%}
              {%- assign url = link.url -%}
            {%- else -%}
              {%- assign url = link.url | relative_url -%}
            {%- endif -%}
            <li><a href="{{ url }}">{{ link.title }}</a></li>
          {%- endfor -%}
        </ul>
    -->
      <div class="navigation-exit">
        <a href="#menu-toggle" class="menu-toggle">
          <div class="fa fa-times"></div>
        </a>
      </div>
      <div class="page-categories">
        {% if site.categories.size > 0 %}
          {% assign categories = site.categories | sort %}
          <ul>
            {% for category in categories %}
              <li>
                {% if site.category_archive_path %}
                  <a href="{{ category[0] | slugify | prepend: site.category_archive_path | relative_url }}">
                    {{ category[0] }} ({{ category[1].size }})
                  </a>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </aside>
  </div><!-- /.navigation-wrapper -->
{% endif %}
