{% assign image_url = "/assets/images/default_background.png" %}
{% if page.image %}
  {% assign page_image = page.image.path | default: page.image %}
  {% unless page_image contains '://' %}
    {% assign page_image = page_image | relative_url %}
  {% endunless %}
  {% assign image_url = page_image | escape %}
{% endif %}
<div class="page-image">
  <div
    style="
      background-image:
        linear-gradient(
          to bottom,
          rgba(0,0,0,0.4),
          rgba(0,0,0,0.425)),
          url({{ image_url }});"
    class="entry-feature-image u-photo"
    alt="{{ page.title }}">
  </div>
  {% if page.image.caption %}
    <div class="page-image-caption">{{ page.image.caption | markdownify }}</div>
  {% endif %}
  {% include masthead.html %}
</div>
