/* ==========================================================================
   Author
   ========================================================================== */

.author-avatar {
  // margin-right: 1em;
  // width: 50px;
  // height: auto;
  // border-radius: 50%;
  
  margin-right: 0;
  margin-bottom: 1em;
  width: 100px;
  height: auto;
  
  // @include breakpoint($large) {
  // margin-right: 0;
  // margin-bottom: 1em;
  // width: 100px;
  // height: auto;
  // }
}

.author-name {
  margin-bottom: 0.5em;
  
  // @include breakpoint($large) {
  // margin-bottom: 0.5em;
  // }
}

.author-links {
  // display: none;
  display: block;
  margin: 0 0 1.5em;
  padding: 0;
  list-style: none;

  // @include breakpoint($large) {
  //   display: block;
  // }
}

.author-link {
  display: inline;
  padding-right: 0.5em;

  @include breakpoint($medium) {
    padding: 0.25em;
  }

  a {
    text-decoration: none;
  }
}
